 .u-section-1 {
  background-image: linear-gradient(black, #adf6f2);
}

.u-section-1 .u-sheet-1 {
  min-height: 676px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: italic;
  margin: 11px 920px 0 23px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  margin: -38px 570px 0 316px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  margin: -38px 290px 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  margin: -38px 23px 0 920px;
}

.u-section-1 .u-image-1 {
  width: 183px;
  height: 183px;
  margin: -39px auto 0 342px;
}

.u-section-1 .u-image-2 {
  width: 183px;
  height: 183px;
  margin: -183px auto 0 30px;
}

.u-section-1 .u-image-3 {
  width: 183px;
  height: 183px;
  margin: -183px auto 0 652px;
}

.u-section-1 .u-table-1 {
  width: 197px;
  margin: -115px 17px 0 920px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-2 {
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-table-body-1 {
  text-transform: uppercase;
}

.u-block-058f-34 {
  height: 46px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  margin: -69px 333px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 37px;
  height: 37px;
  margin: -36px auto 0 652px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  margin: -1px 305px 0 652px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  width: 107px;
  margin: -76px auto 0 79px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 37px;
  height: 37px;
  margin: -38px auto 0 30px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  margin: -1px 927px 0 30px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  width: 107px;
  margin: -75px auto 0 391px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-6 {
  width: 37px;
  height: 37px;
  margin: -38px auto 0 342px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  margin: -1px 615px 0 342px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  margin: 43px 749px 0 133px;
}

.u-section-1 .u-image-7 {
  width: 183px;
  height: 183px;
  text-align: start;
  margin: -1px auto 0 170px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  margin: -221px 407px 0 461px;
}

.u-section-1 .u-image-8 {
  width: 183px;
  height: 183px;
  text-align: start;
  margin: -1px auto 0 506px;
}

.u-section-1 .u-text-13 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  margin: -183px 23px 0 920px;
}

.u-section-1 .u-group-1 {
  width: 197px;
  min-height: 74px;
  height: auto;
  background-image: none;
  animation-duration: 1000ms;
  margin: 23px 23px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-14 {
  text-transform: uppercase;
  margin: 6px 1px 0 98px;
}

.u-section-1 .u-text-15 {
  text-transform: uppercase;
  margin: -26px 99px 0 0;
}

.u-section-1 .u-text-16 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 6px 1px 0;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  margin: 22px auto 0 219px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-9 {
  width: 37px;
  height: 37px;
  text-align: start;
  margin: -38px auto 0 170px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  margin: -1px 786px 0 170px;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  margin: -74px auto 0 555px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-10 {
  width: 37px;
  height: 37px;
  text-align: start;
  margin: -38px auto 0 506px;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  margin: -1px 451px 6px 506px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 743px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 470px;
    margin-left: 216px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 743px;
  }

  .u-section-1 .u-table-1 {
    margin-right: 0;
    margin-left: 743px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 274px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 105px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 727px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 322px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 415px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 649px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -220px;
    margin-right: 307px;
    margin-left: 361px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 743px;
  }

  .u-section-1 .u-group-1 {
    transition-duration: 6.25s;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-text-18 {
    margin-right: 587px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 457px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 251px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 523px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 360px;
    margin-left: 106px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 222px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 523px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 537px;
  }

  .u-section-1 .u-table-1 {
    margin-left: 523px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 210px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 507px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 247px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 195px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 462px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 197px;
    margin-left: 251px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 523px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 367px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 350px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 343px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 270px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 167px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 343px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 357px;
  }

  .u-section-1 .u-table-1 {
    margin-left: 343px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 158px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 503px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 503px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 327px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 185px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 15px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 282px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 107px;
    margin-left: 161px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 357px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 343px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 164px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 187px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 263px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 503px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 503px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 143px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 86px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 105px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 143px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 157px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 157px;
  }

  .u-section-1 .u-table-1 {
    margin-left: 143px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 99px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 303px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 303px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 127px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 116px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 303px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 303px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 82px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 157px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 7px;
    margin-left: 61px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 157px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 143px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 103px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 166px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 303px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 303px;
  }
} .u-section-2 {
  background-image: linear-gradient(#adf6f2, #db545a);
}

.u-section-2 .u-sheet-1 {
  min-height: 562px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  margin: 19px 11px 0 901px;
}

.u-section-2 .u-video-1 {
  width: 183px;
  height: 183px;
  margin: 11px 859px 0 auto;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-image-1 {
  width: 183px;
  height: 183px;
  text-align: start;
  margin: -183px 33px 0 auto;
}

.u-section-2 .u-video-2 {
  width: 183px;
  height: 183px;
  margin: -183px 316px 0 auto;
}

.u-section-2 .embed-responsive-2 {
  position: absolute;
}

.u-section-2 .u-video-3 {
  width: 183px;
  height: 183px;
  margin: -183px 588px 0 auto;
}

.u-section-2 .embed-responsive-3 {
  position: absolute;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  margin: 20px 11px 0 901px;
}

.u-section-2 .u-video-4 {
  width: 183px;
  height: 183px;
  margin: 20px 316px 0 auto;
}

.u-section-2 .embed-responsive-4 {
  position: absolute;
}

.u-section-2 .u-video-5 {
  width: 183px;
  height: 183px;
  margin: -183px 859px 0 auto;
}

.u-section-2 .embed-responsive-5 {
  position: absolute;
}

.u-section-2 .u-image-2 {
  width: 183px;
  height: 183px;
  text-align: start;
  margin: -183px 33px 0 auto;
}

.u-section-2 .u-video-6 {
  width: 183px;
  height: 183px;
  margin: -183px 588px 10px auto;
}

.u-section-2 .embed-responsive-6 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 712px;
  }

  .u-section-2 .u-video-1 {
    margin-top: 228px;
    margin-right: 757px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -385px;
  }

  .u-section-2 .u-video-2 {
    margin-top: -208px;
  }

  .u-section-2 .u-video-3 {
    margin-top: -158px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 712px;
  }

  .u-section-2 .u-video-5 {
    margin-top: 19px;
    margin-right: 757px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -385px;
  }

  .u-section-2 .u-video-6 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 492px;
  }

  .u-section-2 .u-video-1 {
    margin-right: 537px;
  }

  .u-section-2 .u-video-3 {
    margin-right: 537px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 492px;
  }

  .u-section-2 .u-video-5 {
    margin-right: 537px;
  }

  .u-section-2 .u-video-6 {
    margin-right: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 312px;
  }

  .u-section-2 .u-video-1 {
    margin-top: 212px;
    margin-right: 357px;
  }

  .u-section-2 .u-video-3 {
    margin-right: 357px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 312px;
  }

  .u-section-2 .u-video-5 {
    margin-right: 357px;
  }

  .u-section-2 .u-video-6 {
    margin-right: 357px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 112px;
  }

  .u-section-2 .u-video-1 {
    margin-top: 116px;
    margin-right: 157px;
  }

  .u-section-2 .u-video-2 {
    margin-right: 157px;
  }

  .u-section-2 .u-video-3 {
    margin-right: 157px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 112px;
  }

  .u-section-2 .u-video-4 {
    margin-right: 157px;
  }

  .u-section-2 .u-video-5 {
    margin-right: 157px;
  }

  .u-section-2 .u-video-6 {
    margin-right: 157px;
  }
}